<main class="about-section common-color ">
    <div class="d-flex">
        <div class="Traditional-image overflow-hidden rounded-1">
            <img src="./../../../../assets/images/about-me-img-1.jpg" alt="Traditional" class="w-100 h-auto">
        </div>
        <div class="text-section d-flex flex-column  p-5">
            <h1 class="text-primary-color">Elisa Bryant</h1>
            <span class="fs-4 pt-3 text-secondary-color">
                Donec rutrum in justo eget. In porta nisi fringilla arcu, ac vulputate dui tempor
            </span>
            <span class="text-secondary-color fs-5 py-5">

                Elisa Bryant
                Donec rutrum in justo eget. In porta nisi fringilla arcu, ac vulputate dui tempor.

                Quis lectus nulla at volutpat diam ut. Mollis aliquam ut porttitor leo a diam, suspendisse .potenti
                nullam ac tortor vitae purus faucibus ornare. Curabitur vitae nunc sed velit dignissim sodales ut. Quam
                nulla porttitor massa id neque aliquam. Id leo in vitae turpis massa sed diam vel quam elementum cursus
                in.
            </span>
            <span class="text-secondary-color fs-5 pb-4">
                Volutpat maecenas volutpat. Iaculis at erat pellentesque adipiscing. Praesent tristique magna sit amet
                purus gravida quis blandit turpis egestas pretium.
            </span>
            <div>
                <button class="btn btn-primary text-uppercase mt-5">taste perfection</button>
            </div>
        </div>
    </div>
    <div class="ourspecialities-section ">
        <div class="d-flex  justify-content-center py-5 ">
            <div class="d-flex flex-column align-items-center">
                <h3 class="fs-1 text-primary-color ">Our Specialities</h3>
                <p class=" text-secondary-color fs-5">Praesent condimentum rutrum nibh, nec ullamcorper odio laoreet blandit.</p>
            </div>
        </div>
        <div class="d-flex py-5">
            <div class="d-flex flex-column align-items-center  ">
                <div class="image-wrapper overflow-hidden rounded-1">
                    <img src="./../../../../assets/images/about-img-2.jpg " alt="about-image-2" class="w-100 h-auto ">
                </div>
                <div class="text-wrapper d-flex flex-column justify-content-center align-items-center ">
                    <span class="text-white-color fs-3 py-3">Fine Dining</span>
                    <span class="text-center text-secondary-color px-5 py-2">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat aute.</span>
                    <div>
                        <button class="btn btn-primary text-uppercase mt-3"> READ MORE</button>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column align-items-center ">
                <div class="image-wrapper overflow-hidden rounded-1">
                    <img src="./../../../../assets/images/about-image-3.jpg " alt="about-image-2" class="w-100 h-auto">
                </div>
                <div class="text-wrapper d-flex flex-column justify-content-center align-items-center ">
                    <span class="text-white-color fs-3 py-3">Spicy Cocktails</span>
                    <span class="text-center text-secondary-color px-5 py-2">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat aute.</span>
                    <div>
                        <button class="btn btn-primary text-uppercase mt-3"> READ MORE</button>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column align-items-center">
                <div class="image-wrapper overflow-hidden rounded-1">
                    <img src="./../../../../assets/images/about-image-4.jpg " alt="about-image-2" class="w-100 h-auto">
                </div>
                <div class="text-wrapper d-flex flex-column justify-content-center align-items-center ">
                    <span class="text-white-color fs-3 py-3">Best Veggie</span>
                    <span class="text-center text-secondary-color px-5 py-2">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat aute.</span>
                    <div>
                        <button class="btn btn-primary text-uppercase mt-3"> READ MORE</button>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</main>